body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}
.movie {
    display: inline-block;
    width: 200px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.movie img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.movie .title {
    padding: 10px;
    font-weight: bold;
}
#movie-details {
    display: none;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Courier New', Courier, monospace;
    font-size: 15rem;
}