@import "nav.css";
@import "footer.css";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: 200px;
    margin: 10px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.movie p {
    margin: 5px 0;
}